$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

//COLORS

$color-background:#31135E;
$color-white:#ffffff;



//COLOR BUTTONS

$color-buttons-get-stared:#000000;
$color-buttons-contact:#ffffff;
$color-buttons-contact-intern:#000000;
$color-buttons:#ffffff;