//FOOTER

.nav{
    display: flex;
    gap: 120px;
  

    .title{
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 32px;
    }

    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap:14px ;
        li{
            a{
                text-decoration: none;
                color: $white;
                font-weight: 200;
                font-size: 14px;
                
                
            }
        }
    }
}

