* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-buttons {
  display: flex;
  gap: 24px;
}
.container-buttons .button-get-started {
  padding: 10px 22px;
  border-radius: 20px;
  border: none;
  background-color: #000000;
}
.container-buttons .button-get-started a {
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 100;
}
.container-buttons .contact {
  padding: 10px 22px;
  border-radius: 20px;
  border: none;
  background-color: #ffffff;
}
.container-buttons .contact a {
  padding: 10px;
  text-decoration: none;
  color: #000000;
  font-weight: 100;
}

footer {
  margin-top: 150px;
  position: relative;
}

.container-get-started {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  border-radius: 10px;
  padding: 40px 24px;
  background: linear-gradient(146deg, rgb(252, 0, 255) 15%, rgb(0, 219, 222) 100%);
  color: #ffffff;
  position: absolute;
  top: -65px;
  left: 50%;
  transform: translateX(-50%);
}
.container-get-started .title .title-principal {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 18px;
}
.container-get-started .title p {
  font-size: 14px;
  font-weight: 100;
}

.container-habilidades {
  display: flex;
  gap: 20px;
  width: 100%;
}
.container-habilidades article {
  display: flex;
  gap: 7px;
}

.container-footer-purple {
  padding: 150px 130px 0px 130px;
  background-color: #31135E;
}
.container-footer-purple .logo {
  margin-bottom: 24px;
}

.container-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
}
.container-nav .title {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 21px;
}
.container-nav ul {
  list-style: none;
}
.container-nav ul li {
  margin-bottom: 7px;
}
.container-nav ul a {
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
  font-weight: 200;
}
.container-nav .iconos .container-icons {
  display: flex;
  gap: 15px;
}

.container-final-footer {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #31135E;
}
.container-final-footer .container-nav-final ul {
  list-style: none;
  display: flex;
  gap: 40px;
}
.container-final-footer .container-nav-final ul a {
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
  font-weight: 200;
}
.container-final-footer .container-right-reserved p {
  color: #ffffff;
  font-size: 10px;
  font-weight: 100;
}

.container-final-footer::before {
  content: ""; /* Añade contenido al pseudoelemento */
  position: absolute; /* Establece la posición absoluta para el pseudoelemento */
  top: 0; /* Coloca el pseudoelemento en la parte superior del contenedor */
  left: -130px; /* Coloca el pseudoelemento al principio del contenedor */
  width: 130%; /* Establece el ancho del pseudoelemento al 100% del contenedor */
  height: 1px; /* Altura de la línea divisoria */
  background-color: rgba(255, 255, 255, 0.771);
}

body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=style.css.map */
