.subscription-form {
    display: flex;
    align-items: center;
    gap:8px;
}

.input-container {
    display: flex;
    align-items: center;
    border: 1px solid #ffffffd3; /* Borde alrededor del icono y el input */
    background-color: $background-color; /* Fondo negro */
    border-radius: 100px;
    padding: 5px 24px; /* Espaciado interno */
}

.input-container i {
    margin-right: 10px; /* Espacio entre el icono y el input */
    color: $white; /* Color del icono */
    display: inline-flex;
    align-items: center;
    img{
        width: 80%;
        text-align: center;
    }
}

.input-container input[type="email"] {
    border: none; /* Quita el borde predeterminado del input */
    background: none; /* Quita el fondo predeterminado del input */
    width: 230px; /* Ajusta el ancho del input */
    padding: 5px;
}

/* Estilo del texto del placeholder */
.input-container input[type="email"]::placeholder {
    color: $white; /* Color del texto del placeholder */
    font-family:'Poppins', sans-serif;
    font-weight: 100;
    font-size: 12px;
    background-color: $background-color;
    border: none;
    display: inline-flex;
    align-items: center;
}

.subscribe-button{
    background-color: $green;
    color: $black;
    border: none;
    padding: 10px 20px;
    border-radius: 100px;
    font-size: 12px;

}

.subscribe-button:hover{
    background-image:linear-gradient(146deg, rgba(143,255,0,0.927608543417367) 15%, rgba(88,153,5,1) 100%);
}